.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chore-btn, .expense-btn {
  margin: 10px;
}
.chore-btn>h1, .expense-btn>h1 {
  font-size: 1.5rem;
  margin: 5px;
}

.Chore {
  padding-top: 4%;
  min-height: 50vh;
}

.Expenses {
  min-height: 50vh;
}

.Header {
  color: white;
  padding-bottom: 4%;
}

